<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reservation.css"/>  
    <link rel="stylesheet" href="js/js-template/reserv.js"/>  
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Reservation</title>
</head>
<body>
  <header class="header">
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">
        <img src="image/logo.png" id="img">
      </label>
      <ul>
        <li><a  href="home">Home</a></li>
        <li><a  href="inscription">Inscription</a></li>
        <li><a class="active" href="reservation">Réservation</a></li>
      </ul>
    </nav>
</header>

<section class="sec1">
 <h1 id="resev">Résérvation</h1>
 <form name="reserv" class="inputM" action="/reservation" method="POST">
   <div class="L1">
  <span> Nom :</span><input type = "text" id="nom" name ="Name"  placeholder="Entrez votre Nom" size="22" maxlength="20" autocomplete="off" required aria-required="true" />
  <span> Prenom :</span><input type = "text" id="prenom" name ="Prenom"   placeholder="Entrez votre Prenom" size="22" maxlength="20" autocomplete="off" required aria-required="true" />
  <span> E-mail :</span><input type = "text" id="email" name ="Email"   placeholder="Entrez votre Email" size="22" maxlength="25" autocomplete="off" required aria-required="true"/>
  <span> N° Téléphone :</span><input type = "text" id="telephone" name ="Phone"   placeholder="Entrez votre phone" size="22" maxlength="10" autocomplete="off" required aria-required="true"/>
  </div>
  <div class="L2">
  <span> Genre de voiture :</span>
  <select id="cars" name="cars">
    <option value="Dacia Sandero">Dacia Sandero</option>
    <option value="Renault Clio 4">Renault Clio 4</option>
    <option value="Fiat Panda">Fiat panda</option>
    <option value="Citroën C3">Citroën C3</option>
    <option value="Dacia Lodgy">Dacia Lodgy</option>
    <option value="Dacia Logan">Dacia Logan</option>
    <option value="Hyundai H1">Hyundai H1</option>
  </select>
  <span>Date de Départ de Résérvation :</span><input type="date" id="dateDebut" name="DateReservation" min="02-06-1998" max="02-06-2050" required/>
  <span>Date de Fin de Résérvation :</span><input type="date" id="dateFin" name="DateReservationFin" min="02-06-1998" max="02-06-2050" required/>
  <span>Date de conduire de Permis :</span><input type="date" id="dateP" name="DatePermis" size="22" maxlength="20" required/>
  </div>
  <button id="Soumettre" type ="submit" name="Submit">Réservez</button> 
  </form>

        <table style="width:80%">
          <tr>
            <th>Name des Clients</th>
            <th>Prenom des Clients</th>
            <th>Les Emails</th>
            <th>Les Telephones</th>
            <th>Les Produits</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Supprimer une Reservation</th>
            <th>Modifier une reservation</th>
         </tr> 

         <% for (var i of reserve) { %>    

         <tr>
          <td><%= i.Name %></td>
          <td><%= i.Prenom %></td>
          <td><%= i.Email %></td>
          <td><%= i.Phone %></td>
          <td><%= i.cars %></td>
          <td><%= i.DateReservation %></td>
          <td><%= i.DateReservationFin %></td>
          <td><a href="/delete/<%= i.ID %>" id="button"> Supprimer </a></td>
          <td><a href="/edit/<%= i.ID %>" id="button" onclick="get(this)" name="<%= i.ID %>"> Modifier </a></td>
         </tr> 

       <% } %> 

      </table>
</section>

<footer class="footer">
  <div class="contain">
  <div class="con">
    <h1>Menu</h1>
      <i>Home</i>
      <i>Inscription</i>
      <i>Résérvation</i>
  </div>
  <div class="con">
    <h1>Contact</h1>
      <i>Phone:  +212 (0)6 55 44 33 22</i>
      <i>Email: safi-car@gmail.com</i>
  </div>
  <div class="con social">
    <h1>Social</h1>
      <i><img src="https://img.icons8.com/color/52/000000/twitter.png" style="width: 100%;"></i>
      <i><img src="https://img.icons8.com/color/52/000000/instagram.png" style="width: 100%;"></i>
      <i><img src="https://img.icons8.com/color/52/000000/facebook.png" style="width: 100%;"></i>
  </div>
</div>
</footer>

<script>
      var element = document.getElementById("edit");
        function get(event) {
	        var mdf = event.name;
	        console.log(mdf);
            mdf.value = mdf; 
        }
</script>

</body>
</html> 